body{
	font-family:arial;
	font-size:15px;
	line-height:1.6em;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
.container{
	width:60%;
	margin:0 auto;
	overflow:auto;
}
header{
	border-bottom:3px solid #ccc;
}
footer{
	border-top:3px solid #ccc;
	text-align:center;
	padding-top:5px;
}
main{
	padding-bottom:20px;
}
a.startquiz{
	display:inline-block;
	color:#666;
	font-style:bolder;
	background:#f4f4f4;
	padding:6px 13px;
	border:1px dotted #ccc;
}

label{
	display:inline-block;
	width:180px;
}

input[type='text']
{
	width:97%;
	padding:4px;
	border-radius:5px;
	border:1px solid #ccc;
}

input[type='number']
{
	width:50px;
	padding:4px;
	border-radius:5px;
	border:1px solid #ccc;
}

.current{
	padding:10px;
	background:#f4f4f4;
	border:#ccc dotted 1px;
	margin:20px 0 10px 0;
}

@media only screen and (max-width:960px)
{
	.container{
		width:80%;
	}
}

@media only screen and (max-width:420px)
{
	.container{
		width:90%;
	}
}